.big-card-container {
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    background-color: var( --wi-bg-color);
    padding: 2em;
    border-radius: 2.5em;
    
}

.big-card-container__title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.big-card-container__text {
    font-weight: 500;
    font-size: 1.6em
}

