.title-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-icon__background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#ffffff;
    width: 4em;
    height: 4em;
}

.title-icon__icon {
    width: 2em;
    height: 2em;
}