.wi-card {
    width: auto;
    height: 65px;
    display: flex;
    background-color: var(--wi-bg-color);
    border-radius: 15px;
    padding: 8px;
    gap: 12px;
    align-items: center;
}

.wi-card__side-text-container {
    display: flex;
    flex-direction: column;
}

.wi-card__icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#ffffff;
    width: 28px;
    height: 28px;
}

.wi-card__icon {
    width: 16px;
    height: 16px;
}

.wi-card__label{
    font-size: 14px;
    font-weight: 500;
}
 .wi-card__value {
    font-size: 16px;
    font-weight: 300;
}

.weather-info-container {
    min-width: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}