.standard-button {
    width: 100%;
    max-height: 3.2em;
    background-color: var(--button-pd-color);
    padding: 0.8em 0.6em;
    border: none;
    border-radius: 3.5em;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.standard-button:hover{
    background-color: var(--bp-bg-color);
}