.mini-card-container {
    width: 100%;
    height: 6em;
    display: flex;
    background-color: var(--wi-bg-color);
    border-radius: 1.5em;
    padding: 1.2em;
    gap: 1.2em;
    align-items: center;
}

.mini-card-container__side-text-container {
    display: flex;
    gap: 0.6em;
    flex-direction: column;
}

.mini-card-container__label{
    font-size: 1.4em;
    font-weight: 500;
}
 .mini-card-container__value {
    font-size: 1.6em;
    font-weight: 300;
}