.bp_button {
    flex: 1;
    height: 42px;
    background-color: var(--button-pd-color);
    padding: 8px px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.bp_button:hover{
    background-color: var(--bp-bg-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button-area-container {
    width: 100%;
    max-width: 368px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin: 0px auto;
}
