.tittle-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle-icon__background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#ffffff;
    width: 2.8em;
    height: 2.8em;
}

.tittle-icon__icon {
    width: 1.5em;
    height: 1.5em;
}