.screen-container {
    width: 41.2em;
    height: 89.2em;
    overflow-y: auto; 
    overflow-x: hidden;
    gap: 20px;
    
    background-color: var(--screen-bg-color);
    border: 6px solid var(--screen-bd-color);
    border-radius: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-container::-webkit-scrollbar {
    display: none;
}

