.screen-container {
    width: 42.5em;
    height: 89.2em;
    overflow-y: auto; 
    overflow-x: hidden;
    border-radius: var(--bd-radius);
    gap: 2em;
    border: 0.6em solid #000;
    background-color: var(--screen-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-container::-webkit-scrollbar {
    display: none;
}

