.hf-container {
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var( --wi-bg-color);
    padding: 20px;
    border-radius: 25px;
}

.hf-container__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.hf-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 15px;
    padding: 5px;
    background-image: linear-gradient(180deg, #ebdeff, #e0b6ff);
}

.hf-container__tittle {
    display: flex;
    gap: 10px;
}

.hf-container__tittle {
    font-weight: 500;
    font-size: 18px
;}

.hf-card-container__hour {
    font-size: 12px;
}

.hf-card-container__temp {
    font-size: 15px;
    font-weight: 500;
}

.hf-card-container__icon {
    width: 40px;
}