.hf-container__cards {
   max-width: 100%;
   height: auto;
   display: flex;
   gap: 1.2em;
   align-items: center; 
   justify-content: space-between; 
   overflow-x: auto; 
   overflow-y: hidden; 
   scroll-behavior: smooth;
   outline: none;
}


.hf-container__cards::-webkit-scrollbar {
    display: none;
}

.hf-card-container {
    width: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em; 
    border-radius: var(--bd-radius);
    background-image: linear-gradient(145deg, #654ea3, #eaafc8);
}

.hf-card-container__hour {
    color: var(--tw-text-color);
    font-size: 1.2em;
    font-weight: 500;
}

.hf-card-container__temp {
        color: var(--tw-text-color);

    font-size: 1.5em;
    font-weight: 400;
}

.hf-card-container__icon {
    width: 4em;
    height: 4em;
}