.tw-container {
    width: 100%;
    min-width: 412px;
    min-height: 280px;
    padding: 15px 20px;
    gap: 20px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(180deg, var(--bp-bg-color) 50%, var(--screen-bg-color) 100%);
}

/* 
======================
        HEADER
======================
*/

.tw-container__header {
    width: 90%;
    max-width: 368px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cf7ae0; 
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.tw-container__search {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.tw-container__input {
    width: 100%;
    border-radius: 20px;
    padding: 6px 35px 6px 12px;
    font-weight: 300;
    color: var(--tw-text-color);
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6); 
}


.tw-container__input::placeholder {   
    color: rgba(255, 255, 255, 0.8);
    font-family: Poppins;
    font-weight: 300;
}

.tw-container__city {
    color: var(--tw-text-color);
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45%;
}

.tw-container__button {
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #f4f5ff;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.tw-container__button:hover {
    background-color: #ffffff;
}

.tw-container__search-icon{
    width: 12px;
}

/* 
======================
        MAIN
======================
*/

.tw-container__main {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #a02cff26;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

 }

.tw-container__temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.tw-container__temp {
    color: var(--tw-text-color);
    font-size: 80px;
    font-weight: 600;
    line-height: 0.8;
}

.tw-container__temp-description {
    text-transform: capitalize;
    white-space: nowrap;
    align-self: flex-start;
    color: var(--tw-text-color);    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.tw-container__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tw-container__weather-icon{
    width: 107px;
    height: 107px;
}

.tw-container__weather-description {
    text-transform: capitalize; 
    color: var(--tw-text-color);
    font-size: 16px;
    font-weight: 400;
}



/* ======================
        FOOTER
======================
*/


/* .tw-container__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.tw-container__date {
    color: var(--tw-text-color);
    font-size: 17px;
    font-weight: 400;
}

.tw-container__temp-variation {
    color: var(--tw-text-color);
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}
 */
