.search-card {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--wi-bg-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    gap: 1.2em;
    padding: 1em;
}

.search-card__container {
    display: flex;
    width: 92%;
    gap: 1.2em;
}

.search-card__input {
    width: 100%;
    border-radius: var(--bd-radius);
    padding: 0.6em 1.2em;
    font-weight: 400;
    color: #000;
    outline: none;
    background-color: #fff;
    border: none; 
}

.search-card::placeholder {   
    font-family: Google Sans, sans-serif;
    font-weight: 600;
}
