.tw-container {
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(145deg, #654ea3, #eaafc8);
    padding: 2em;
    border-radius: 2.5em;
}

.tw-container__main {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    border-radius: var(--bd-radius);
 }

.tw-container__temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8em;
}

.tw-container__temp {
    color: var(--tw-text-color);
    font-size: 8em;
    font-weight: 600;
    line-height: 0.8;
}

.tw-container__temp-description {
    text-transform: capitalize;
    white-space: nowrap;
    align-self: flex-start;
    color: var(--tw-text-color);    
    font-size: 1.8em;
    font-weight: 400;
}

.tw-container__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    padding: 1.5em;
    border-radius: var(--bd-radius);
    background-color: rgba(255, 255, 255, 0.1);
}

.tw-container__weather-icon{
    width: 10em;
    width: 10em;
}

.tw-container__weather-description {
    text-transform: capitalize; 
    text-wrap: inherit;
    color: var(--tw-text-color);
    font-size: 2em;
    font-weight: 500;
}

