.cr-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    }

.crp-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2em;
    padding: 1.2em 2em;
    }

    .crp-container__hour {
        font-size: 1.6em;
        font-weight: 500 ;
    }

    .crp-container__percentage-value {
        font-size: 1.6em;
        font-weight: 400 ;
    }

    .crp-container__percentage-bar {
        width: 55%;
        border-radius: 2em;
        height: 2em;
        overflow: hidden;
        background-color: #fff;
    }

    .crp-container__percentage-bar-fill {
        border-radius: 2em;
        height: 2em;
        overflow: hidden;
        background-color: #e0b6ff;
        transition: all 1s ease-in-out;
    }
