.cr-container {
    width: 368px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wi-bg-color);
    border-radius: 35px;
    padding: 15px;
    }

.crp-container {
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 12px 20px;
    }

    .crp-container__hour, .crp-container__percentage-value {
        font-size: 16px;
    }

    .crp-container__percentage-bar {
        flex-grow: 1;
        border-radius: 20px;
        height: 20px;
        overflow: hidden;
        background-color: #fff;
    }

    .crp-container__percentage-bar-fill {
        border-radius: 20px;
        height: 20px;
        overflow: hidden;
        background-color: #e0b6ff;
        transition: all 1s ease-in-out;
    }

    .cr-container-tiitle {
        font-weight: 500;
        font-size: 18px
    }