.rssd-container {
    width: 50%;
    background-color: var(--wi-bg-color);
    border-radius: 25px;
    padding: 18px;
}

.rssd-container__label {
    font-size:  18px;
    font-weight: 400;
}

.rss-container {
    width: 368px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}